- 👋 Hi, I’m Daniel Engvall @engdan77
- 👀 Linkedin profile https://www.linkedin.com/in/danielengvall/
- 📫 If you like to get in contact with me please send an email to daniel@engvalls.eu

Updated: {{updated_at}}
